main{
    margin-top: 100px;
  }
body{
    height: 1000px;
    background-image:url(/static/images/cat1.jpg);
    background-size: cover;
    background-repeat: repeat;
  }
.container1{
    margin: 10%;
    background-color: #ffff;
    height: 800px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.item1{
  margin: 10px;
  background-color: #7e7878af;
  margin: 10px;
  border-radius: 5px;
  height: 150px;
  width: 150px;
  padding: 10px;
}